<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="busmaterialinfo">
    <sql id="selectId">
        id,
        taskId,
        pfid,
        totalNumber,
        vendorNo,
        checkRst,
        checkNum,
        qualifiedNum,
        unqualifiedNum,
        unqualifiedGrade,
        unqualifiedReason,
        reviewRst,
        reviewGrp,
        reviewNo,
        graphicPath,
        bak
    </sql>

    <select id="query" resultType="BusMaterialInfo" parameterType="java.util.HashMap">

        select
        <include refid="selectId" />
        from BusMaterialInfo
        <where>
            <if test="t.id != null and t.id != ''">
                id=#{id}
            </if>
        </where>
    </select>

    <!-- total count -->
    <select id="count" parameterType="BusMaterialInfo" resultType="int">
        select count(0) from BusMaterialInfo
        <where>
            <if test="t.id != null and t.id != ''">
                id=#{id}
            </if>
        </where>
    </select>

    <select id="getById" parameterType="String" resultType="BusMaterialInfo">
        select * from BusMaterialInfo where id=#{id}
    </select>
    <insert id="add" parameterType="BusMaterialInfo">
        insert into BusMaterialInfo(
        id,
        taskId,
        pfid,
        totalNumber,
        vendorNo,
        checkRst,
        checkNum,
        qualifiedNum,
        unqualifiedNum,
        unqualifiedGrade,
        unqualifiedReason,
        reviewRst,
        reviewGrp,
        reviewNo,
        graphicPath,
        bak )
        values (
        #{id},
        #{taskId},
        #{pfid},
        #{totalNumber},
        #{vendorNo},
        #{checkRst},
        #{checkNum},
        #{qualifiedNum},
        #{unqualifiedNum},
        #{unqualifiedGrade},
        #{unqualifiedReason},
        #{reviewRst},
        #{reviewGrp},
        #{reviewNo},
        #{graphicPath},
        #{bak})
    </insert>
    <update id="update" parameterType="BusMaterialInfo">
        update BusMaterialInfo
        <set>
            taskId=#{taskId},
            pfid=#{pfid},
            totalNumber=#{totalNumber},
            vendorNo=#{vendorNo},
            checkRst=#{checkRst},
            checkNum=#{checkNum},
            qualifiedNum=#{qualifiedNum},
            unqualifiedNum=#{unqualifiedNum},
            unqualifiedGrade=#{unqualifiedGrade},
            unqualifiedReason=#{unqualifiedReason},
            reviewRst=#{reviewRst},
            reviewGrp=#{reviewGrp},
            reviewNo=#{reviewNo},
            graphicPath=#{graphicPath},
            bak=#{bak}
        </set>
        <where>
            <if test="t.id != null and t.id != ''">
                id=#{id}
            </if>
        </where>
    </update>
</mapper>
