<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="busprojectfigureflow">
    <sql id="selectId">
        flowId,
        figureNo,
        figureName,
        figureRequest,
        type,
        batchNum,
        describe
    </sql>

    <select id="query" resultType="BusProjectFigureFlow" parameterType="java.util.HashMap">

        select
        <include refid="selectId" />
        from BusProjectFigureFlow
    </select>
    
    <select id="queryByPage" resultType="List" parameterType="java.util.HashMap">
		select * from busprojectfigureflow limit #{limit} offset #{offset}
    </select>

    <!-- total count -->
    <select id="count" resultType="int">
        select count(0) from BusProjectFigureFlow
    </select>

    <select id="getById" parameterType="String" resultType="BusProjectFigureFlow">
        select * from BusProjectFigureFlow where flowId=#{id}
    </select>
    <insert id="add" parameterType="BusProjectFigureFlow">
        insert into BusProjectFigureFlow(
        flowId,
        figureNo,
        figureName,
        figureRequest,
        type,
        batchNum,
        describe )
        values (
        #{flowId},
        #{figureNo},
        #{figureName},
        #{figureRequest},
        #{type},
        #{batchNum},
        #{describe})
    </insert>
    <update id="update" parameterType="BusProjectFigureFlow">
        update BusProjectFigureFlow
        <set>
            flowId=#{flowId},
            figureNo=#{figureNo},
            figureName=#{figureName},
            figureRequest=#{figureRequest},
            type=#{type},
            batchNum=#{batchNum},
            describe=#{describe}
        </set>
    </update>
</mapper>
