<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="busprojectfigure">
    <sql id="selectId">
        a.pfid,
        a.ppid,
        c.projectName,
        b.productName,
        b.productNo,
        b.`status`,
        a.figureLib,
        a.figureNo,
        a.figureName,
        a.figureRequest,
        a.type,
        d.devName,
        a.batchNum,
        a.`describe`
    </sql>

    <select id="query" resultType="BusProjectFigure" parameterType="java.util.HashMap">

        select
        <include refid="selectId" />
        from BusProjectFigure a, busprojectproduct b, busproject c,devicetype d 
         where a.ppid = b.ppid and b.projectId=c.pid and a.type=d.devid
        <where>
            <if test="t.pfid != null and t.pfid != ''">
                and pfid=#{pfid}
            </if>
        </where>
    </select>

    <!-- total count -->
    <select id="count" parameterType="BusProjectFigure" resultType="int">
        select count(0) from BusProjectFigure
        <where>
            <if test="t.pfid != null and t.pfid != ''">
                pfid=#{pfid}
            </if>
        </where>
    </select>
    
     <select id="getCountByCondition" parameterType="BusProjectFigure" resultType="int">
        select count(0) from BusProjectFigure where ppid=${ppid} and figureLib=#{figureLib} 
    </select>

    <select id="getById" parameterType="String" resultType="BusProjectFigure">
        select
        <include refid="selectId" />
        from BusProjectFigure a, busprojectproduct b, busproject c,devicetype d 
         where a.ppid = b.ppid and b.projectId=c.pid and a.type=d.devid and pfid=#{id}
    </select>
    <select id="getFigureLibByPpid" parameterType="String" resultType="java.util.HashMap">
        select distinct figureLib  from BusProjectFigure where ppid=#{ppid}
    </select>
    <insert id="add" parameterType="BusProjectFigure">
        insert into BusProjectFigure(
        pfid,
        ppid,
        figureLib,
        figureNo,
        figureName,
        figureRequest,
        type,
        batchNum,
        `describe` )
        values (
        #{pfid},
        #{ppid},
        #{figureLib},
        #{figureNo},
        #{figureName},
        #{figureRequest},
        #{type},
        #{batchNum},
        #{describe})
    </insert>
    <update id="update" parameterType="BusProjectFigure">
        update BusProjectFigure set
            figureLib=#{figureLib},
            figureNo=#{figureNo},
            figureName=#{figureName},
            figureRequest=#{figureRequest},
            batchNum=#{batchNum},
            `describe`=#{describe}
        where pfid=#{pfid}
    </update>
</mapper>
