<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bustaskflow">
    <sql id="selectId">
        flowId,
        taskId,
        taskNo,
        pid,
        ppid,
        totalSetNo,
        taskSource,
        bak
    </sql>

    <select id="query" resultType="BusTaskFlow" parameterType="java.util.HashMap">

        select
        <include refid="selectId" />
        from BusTaskFlow
        <where>
            <if test="t.taskId != null and t.taskId != ''">
                taskId=#{taskId}
            </if>
            <if test="t.flowId != null and t.flowId != ''">
                flowId=#{flowId}
            </if>
        </where>
    </select>

    <!-- total count -->
    <select id="count" parameterType="BusTaskFlow" resultType="int">
        select count(0) from BusTaskFlow
        <where>
            <if test="t.taskId != null and t.taskId != ''">
                taskId=#{taskId}
            </if>
            <if test="t.flowId != null and t.flowId != ''">
                flowId=#{flowId}
            </if>
        </where>
    </select>

    <select id="getById" parameterType="String" resultType="BusTaskFlow">
        select * from BusTaskFlow where flowId=#{id}
    </select>
    <insert id="add" parameterType="BusTaskFlow">
        insert into BusTaskFlow(
        flowId,
        taskId,
        taskNo,
        pid,
        ppid,
        totalSetNo,
        taskSource,
        bak )
        values (
        #{flowId},
        #{taskId},
        #{taskNo},
        #{pid},
        #{ppid},
        #{totalSetNo},
        #{taskSource},
        #{bak})
    </insert>
    <update id="update" parameterType="BusTaskFlow">
        update BusTaskFlow
        <set>
            taskNo=#{taskNo},
            pid=#{pid},
            ppid=#{ppid},
            totalSetNo=#{totalSetNo},
            taskSource=#{taskSource},
            bak=#{bak}
        </set>
        <where>
            <if test="t.taskId != null and t.taskId != ''">
                taskId=#{taskId}
            </if>
            <if test="t.flowId != null and t.flowId != ''">
                flowId=#{flowId}
            </if>
        </where>
    </update>
</mapper>
