<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bustaskflow">
    <sql id="selectId">
        flowId,
        taskNo,
        totalSetNum,
        taskSource,
        bak
    </sql>

    <select id="query" resultType="BusTaskFlow" parameterType="java.util.HashMap">

        select
        <include refid="selectId" />
        from BusTaskFlow
    </select>

    <!-- total count -->
    <select id="count" parameterType="BusTaskFlow" resultType="int">
        select count(0) from BusTaskFlow
    </select>

    <insert id="add" parameterType="BusTaskFlow">
        insert into BusTaskFlow(
        flowId,
        taskNo,
        totalSetNum,
        taskSource,
        bak )
        values (
        #{flowId},
        #{taskNo},
        #{totalSetNum},
        #{taskSource},
        #{bak})
    </insert>
    <update id="update" parameterType="BusTaskFlow">
        update BusTaskFlow
        <set>
            flowId=#{flowId},
            taskNo=#{taskNo},
            totalSetNo=#{totalSetNum},
            taskSource=#{taskSource},
            bak=#{bak}
        </set>
    </update>
</mapper>
