<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="department">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		departId,
  		dName,
  		DepartType,
  		Discribe
	</sql>
	<!--resultType="Department" 每返回一条结果封装到Department里 -->
	<select id="query" resultType="Department" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from departmentinfo where DepartType != 2
		<if test="dName != null and dName != ''">
			dName = #{dName}
		</if>
	</select>
	<!-- 总记录数 -->
	<select id="count" parameterType="Department" resultType="int">
		select count(0) from departmentinfo
		<where>
			<if test="dName != null and dName != ''">
				dName like '%${dName}%'
			</if>
		</where>
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="Department">
		insert into departmentinfo( 
  		dName,
  		DepartType,
  		Discribe )
		values (
		#{dName},
		#{DepartType}, 
		#{Discribe})
	</insert>

	<delete id="deleteByUsername" parameterType="String">
		UPDATE departmentinfo
		SET DepartType = 2 
		where dName = #{dName}
	</delete>
	<update id="update" parameterType="Department">
		update departmentinfo
		<set>
			<if test="DepartId != null and DepartId != ''">
				DepartId=#{DepartId},
			</if>
			<if test="DepartType != null and DepartType != ''">
				DepartType=#{DepartType},
			</if>
			<if test="Discribe != null and Discribe != ''">
				Discribe=#{Discribe},
			</if>
			<if test="dName != null and dName != ''">
				dName=#{dName},
			</if>
		</set>
		where dName=#{dName}
	</update>
	
	<select id="findAll" resultType="Department">
		select
		<include refid="selectId" />
		from departmentinfo
	</select>
	
	<!-- 根据用户名查出userId -->
	<select id="queryDepartmentName" parameterType="String" resultType="Department">
	  select
	  <include refid="selectId"/>
	  from departmentinfo where dName=#{dName}
	</select>
	
	<select id="getDepartmentByUserName" parameterType="String" resultType="java.util.HashMap">
		SELECT 
		<include refid="selectId" />
		FROM departmentinfo d  
		WHERE d.departId IN 
		(SELECT dm.departid FROM departmentmember dm 
		WHERE dm.username = #{uname})
	</select>
</mapper>