<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="electronflowinfo">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
			Number,
			FlowType,
			Name,
			nIndex,
			StepNumber,
			Handles,
			State,
			CreatePerson,
			CreateTime,
			ClosePerson,
			CloseTime,
			bak
	</sql>
	<!--resultType="User" 每返回一条结果封装到User里 -->
	<select id="query" resultType="ElectronFlowInfo" parameterType="ElectronFlowInfo">
		select
		<include refid="selectId" />
		from electronflowinfo
		
	</select>
	
	<!-- 增加电子流信息 -->
	<insert id="add" parameterType="ElectronFlowInfo">
		INSERT INTO electronflowinfo
        (Number,
		 FlowType,
		 Name,
		 nIndex,
		 StepNumber,
		 Handles,
		 State,
		 CreatePerson,
		 CreateTime,
		 ClosePerson,
		 CloseTime,
         bak)
		 values (#{number},
		 #{flowType},
		 #{name},
		 #{nIndex},
		 #{stepNumber},
		 #{handles},
		 #{state},
		 #{createPerson},
		 #{createTime},
		 #{closePerson},
		 #{closeTime},
         #{bak})
	</insert>
	<update id="update" parameterType="ElectronFlowInfo">
		update electronflowinfo
		<set>
			FlowType=#{flowType},
			Name=#{name},
			nIndex=#{nIndex},
			StepNumber=#{stepNumber},
			Handles=#{handles},
			State=#{state},
			CreatePerson=#{createPerson},
			CreateTime=#{createTime},
			ClosePerson=#{closePerson},
			CloseTime=#{closeTime},
			bak=#{bak}
		</set>
		where Number=#{userName}
	</update>
	
	<delete id="deleteById" parameterType="String">
		delete from electronflowinfo where
		Number=#{number}
	</delete>
</mapper>