<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flowtypeinfo">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
			nIndex,
			Name,
			bak
	</sql>
	<!--resultType="User" 每返回一条结果封装到User里 -->
	<select id="query" resultType="FlowTypeInfo" parameterType="FlowTypeInfo">
		select
		<include refid="selectId" />
		from FlowTypeInfo
		
	</select>
	
	<!-- 增加设备 -->
	<insert id="add" parameterType="FlowTypeInfo">
		INSERT INTO FlowTypeInfo
        (Name,
         bak)
		 values (#{Name},
         #{bak})
	</insert>
	
	<delete id="deleteById" parameterType="String">
		delete from FlowTypeInfo where
		nIndex=#{nIndex}
	</delete>
</mapper>