<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flowtemplateinfo">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
			FlowType,
			nStepIndex,
			Url,
			Name,
			StepList,
			DepartIdList
	</sql>
	<!--resultType="User" 每返回一条结果封装到User里 -->
	<select id="query" resultType="FlowTemplateInfo" parameterType="FlowTemplateInfo">
		select
		<include refid="selectId" />
		from flowtemplateinfo		
	</select>
	<select id="queryOneRecord" resultType="FlowTemplateInfo" parameterType="FlowTemplateInfo">
		select
		<include refid="selectId" />
		from flowtemplateinfo
		
		<where>
			<if test="t.flowType != null and t.flowType != ''">
				FlowType = '${t.flowType}'
			</if>
			<if test="t.nStepIndex != null and t.nStepIndex != ''">
				nStepIndex = '${t.nStepIndex}'
			</if>
		</where>
		
	</select>
	
	<!-- 增加电子流信息 -->
	<insert id="add" parameterType="FlowTemplateInfo">
		INSERT INTO flowtemplateinfo
        (FlowType,
		 nStepIndex,
		 Url,
		 Name,
		 StepList,
		 DepartIdList)
		 values (
		 #{flowType},
		 #{nStepIndex},
		 #{Url},
		 #{name},
		 #{stepList},
		 #{departIdList})
	</insert>
	<update id="update" parameterType="FlowTemplateInfo">
		update flowtemplateinfo
		<set>
			Url=#{Url},
			Name=#{name},
			StepList=#{stepList},
			DepartIdList=#{departIdList}
		</set>
		where FlowType=#{flowType} and nStepIndex=#{nStepIndex}
	</update>
	
	<delete id="deleteById" parameterType="String">
		delete from flowtemplateinfo where
		where FlowType=#{flowType} and nStepIndex=#{nStepIndex}
	</delete>
</mapper>
