<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storageflowresult">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
	    flowId,
		MaterialNumber,
		IdNumber,
		SubType,
		Name,
		AssistantCode,
		Material,
		Shape,
		MaterialType,
		ProType,
		TotalNumber,
		MsmUnit,
		MsmUnit2,
		SavePeriod,
		SavePeriodUnit,
		Trusteeship,
		WIP_Sign,
		BeforeFailure,
		SavePos,
		nSize,
		InspectionMode,
		ProductSource,
		TransferPerson,
		TransferTime,
		TestRequirements,
		testNumber,
		validNumber,
		TestResult,
		TestPerson,
		TestTime,
		testLevel,
		TrialOrganization,
		trialNumber,
		TrialResults,
		TrialPersonnel,
		callPerson,
		TrialTime,
		projectName,
		taskName,
		bak
	</sql>
	<!--resultType="StorageFlowResult" 每返回一条结果封装到User里 -->
	<select id="query" resultType="StorageFlowResult" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from storageflowresult
		<where>
			<if test="t.flowId != null and t.flowId != ''">
				flowId = '${t.flowId}'
				</if>
		</where>
	</select>
		<select id="queryByFlowId" resultType="StorageFlowResult" parameterType="int">
		select
		<include refid="selectId" />
		from storageflowresult where flowId = ${_parameter}
	</select>
	<!-- 总记录数 -->
	<select id="count" parameterType="StorageFlowResult" resultType="Integer">
		select count(0) from storageflowresult
		<where>
			<if test="t.flowId != null and t.flowId != ''">
				flowId = '${t.flowId}'
				</if>
		</where>
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="StorageFlowResult">
		insert into storageflowresult(
		flowid,
		MaterialNumber,
		IdNumber, 
		SubType,
		Name, 
		AssistantCode, 
		Material,
		Shape,
		MaterialType, 
		ProType,
		TotalNumber,
		MsmUnit,
		MsmUnit2,
		SavePeriod,
		SavePeriodUnit,
		Trusteeship,
		WIP_Sign,
		BeforeFailure,
		SavePos,
		nSize,
		InspectionMode,
		ProductSource,
		TransferPerson,
		TransferTime,
		TestRequirements,
		testNumber,
		validNumber,
		TestResult,
		TestPerson,
		TestTime,
		testLevel,
		TrialOrganization,
		trialNumber,
		TrialResults,
		TrialPersonnel,
		callPerson,
		TrialTime,
		projectName,
		taskName,
		bak )
		values (
		#{flowId},
		#{materialNumber},
		#{idNumber}, 
		#{subType},
		#{name},
		#{AssistantCode},
		#{material}, 
		#{shape},
		#{materialType},
		#{proType},
		#{totalNumber},
		#{msmUnit},
		#{msmUnit2},
		#{savePeriod},
		#{savePeriodUnit},
		#{trusteeship},
		#{wip_Sign},
		#{beforeFailure},
		#{savePos},
		#{nSize},
		#{inspectionMode},
		#{productSource},
		#{transferPerson},
		#{transferTime},
		#{TestRequirements},
		#{testNumber},
		#{validNumber},
		#{TestResult},
		#{TestPerson},
		#{TestTime},
		#{testLevel},
		#{TrialOrganization},
		#{trialNumber},
		#{TrialResults},
		#{TrialPersonnel},
		#{callPerson},
		#{TrialTime},
		#{projectName},
		#{taskName},
		#{bak})
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from storageflowresult where
		flowId=#{flowId}
	</delete>
	<select id="getById" parameterType="String" resultType="FlowRecordInfo">
		select
		<include refid="selectId" />
		from storageflowresult where flowId=#{flowId}
	</select>
	<update id="update" parameterType="StorageFlowResult">
		update storageflowresult
		<set>
		IdNumber=#{idNumber},
		SubType=#{subType},
		Name=#{name},
		AssistantCode=#{AssistantCode},
		Material=#{material},
		Shape=#{shape},
		MaterialType=#{materialType},
		ProType=#{proType},
		TotalNumber=#{totalNumber},
		MsmUnit=#{msmUnit},
		MsmUnit2=#{msmUnit2},
		SavePeriod=#{savePeriod},
		SavePeriodUnit=#{savePeriodUnit},
		Trusteeship=#{trusteeship},
		WIP_Sign=#{wip_Sign},
		BeforeFailure=#{beforeFailure},
		SavePos=#{savePos},
		nSize=#{nSize},
		InspectionMode=#{inspectionMode},
		ProductSource=#{productSource},
		TransferPerson=#{transferPerson},
		TransferTime=#{transferTime},
		TestRequirements=#{TestRequirements},
		testNumber=#{testNumber},
		validNumber=#{validNumber},
		TestResult=#{TestResult},
		TestPerson=#{TestPerson},
		TestTime=#{TestTime},
		testLevel=#{testLevel},
		TrialOrganization=#{TrialOrganization},
		trialNumber=#{trialNumber},
		TrialResults=#{TrialResults},
		TrialPersonnel=#{TrialPersonnel},
		callPerson=#{callPerson},
		TrialTime=#{TrialTime},
		projectName=#{projectName},
		taskName=#{taskName},
		bak =#{bak}
		</set>
		where flowId=#{flowId} and materialNumber=#{materialNumber} 
	</update>
	
</mapper>