<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		userName,
		userPassword,
		userRealname,
		userBirthday,
		userSex,
		idCard,
		userPhone
	</sql>
	<!--resultType="User" 每返回一条结果封装到User里 -->
	<select id="query" resultType="User" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from user
		<where>
			<if test="t.userName != null and t.userName != ''">
				userName like '%${t.userName}%'
			</if>
		</where>
	</select>
	<!-- 总记录数 -->
	<select id="count" parameterType="User" resultType="int">
		select count(0) from user
		<where>
			<if test="userName != null and userName != ''">
				userName like '%${userName}%'
			</if>
		</where>
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="User">
		insert into user( 
		userName,
		userPassword,
		userRealname,
		userBirthday,
		userSex,
		idCard,
		userPhone )
		values (
		#{userName},
		#{userPassword},
		#{userRealname},
		#{userBirthday},
		#{userSex},
		#{idCard},
		#{userPhone})
	</insert>

	<delete id="deleteByUsername" parameterType="String">
		delete from user where
		userName=#{userName}
	</delete>
	<select id="getByUsername" parameterType="String" resultType="User">
		select
		<include refid="selectId" />
		from user where userName=#{userName}
	</select>
	<update id="update" parameterType="User">
		update user
		<set>
			<if test="userName != null and userName != ''">
				userName=#{userName},
			</if>
			<if test="userPassword != null and userPassword != ''">
				userPassword=#{userPassword},
			</if>
			<if test="userRealname != null and userRealname != ''">
				userRealname=#{userRealname},
			</if>
			<if test="userBirthday != null and userBirthday != ''">
				userBirthday=#{userBirthday},
			</if>
			<if test="userSex != null and userSex != ''">
				userSex=#{userSex},
			</if>
			<if test="idCard != null and idCard != ''">
				idCard=#{idCard},
			</if>
			<if test="userPhone != null and userPhone != ''">
				userPhone=#{userPhone},
			</if>
		</set>
		where userName=#{userName}
	</update>
	
	<!-- 验证用户登陆 -->
	<select id="countUser" parameterType="User" resultType="int">
	    select count(*) from user where 
	    userName=#{userName} and userPassword=#{userPassword}
	</select>
	
	<!-- 根据用户名查出userId -->
	<select id="queryUserName" parameterType="String" resultType="User">
	  select
	  <include refid="selectId"/>
	  from user where userName=#{userName}
	</select>
	<!--查询所有的用户名 -->
	<select id="queryAll" resultType="User">
	  select
	  <include refid="selectId"/>
	  from user
	</select>
</mapper>