<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- 给实体Bean一个别名-->
		<typeAlias type="com.erp.entity.User" alias="User" />
		<typeAlias type="com.erp.entity.UserLoginList" alias="UserLoginList" />
		<typeAlias type="com.erp.entity.Resources" alias="Resources"/>
		<typeAlias type="com.erp.entity.Roles" alias="Roles"/>
		<typeAlias type="com.erp.entity.ResourceRoles" alias="ResourceRoles"/>
		<typeAlias type="com.erp.entity.UserRoles" alias="UserRoles"/>
		<typeAlias type="com.erp.entity.ServerInfo" alias="ServerInfo"/>
		
		<typeAlias type="com.erp.entity.Log" alias="Log"/>
		<typeAlias type="com.erp.entity.Device" alias="Device"/>
		<typeAlias type="com.erp.entity.BusLeave" alias="BusLeave"/>
		<typeAlias type="com.erp.entity.TaskCopyPerson" alias="TaskCopyPerson"/>
		<typeAlias type="com.erp.entity.FlowRecordInfo" alias="FlowRecordInfo"/>
		<typeAlias type="com.erp.entity.StorageFlowResult" alias="StorageFlowResult"/>
		<typeAlias type="com.erp.entity.ProjectInfo" alias="ProjectInfo"/>
		<typeAlias type="com.erp.entity.FlowProejctInfo" alias="FlowProejctInfo"/>
		<typeAlias type="com.erp.entity.Department" alias="Department"/>
		<typeAlias type="com.erp.entity.DepartmentMember" alias="DepartmentMember"/>
		<typeAlias type="com.erp.entity.BusProject" alias="BusProject"/>
		<typeAlias type="com.erp.entity.BusProjectFigure" alias="BusProjectFigure"/>
		<typeAlias type="com.erp.entity.InstrumentDevice" alias="InstrumentDevice"/>
		<typeAlias type="com.erp.entity.FixedAsset" alias="FixedAsset"/>
		<typeAlias type="com.erp.entity.BusStorageOut" alias="BusStorageOut"/>
		<typeAlias type="com.erp.entity.BusProjectProduct" alias="BusProjectProduct"/>
		<typeAlias type="com.erp.entity.BusTask" alias="BusTask"/>
		<typeAlias type="com.erp.entity.BusTaskFlow" alias="BusTaskFlow"/>
		<typeAlias type="com.erp.entity.BusProjectFigureFlow" alias="BusProjectFigureFlow"/>
		<typeAlias type="com.erp.entity.BusProjectFigureProductFlow" alias="BusProjectFigureProductFlow"/>
		<typeAlias type="com.erp.entity.BusProjectFlow" alias="BusProjectFlow"/>
		<typeAlias type="com.erp.entity.BusMaterialInfo" alias="BusMaterialInfo"/>
		<typeAlias type="com.erp.entity.BusMaterialInfoFlow" alias="BusMaterialInfoFlow"/>
		<typeAlias type="com.erp.entity.BusTaskProductFlow" alias="BusTaskProductFlow"/>
		<typeAlias type="com.erp.entity.BusProjectProductFlow" alias="BusProjectProductFlow"/>
		<typeAlias type="com.erp.entity.BusProjectProductProjectFlow" alias="BusProjectProductProjectFlow"/>
		<typeAlias type="com.erp.entity.BusMaterialInfoTaskFlow" alias="BusMaterialInfoTaskFlow"/>
		<typeAlias type="com.erp.entity.BusMaterialInfoFlow" alias="BusMaterialInfoFlow"/>
		<typeAlias type="com.erp.entity.BusProjectProductFlowVo" alias="BusProjectProductFlowVo"/>
	</typeAliases>
</configuration>